@import "sass/reset"
@import "sass/settins"
// Основные настройки
body
  font-family: 'Gilroy', sans-serif
  +medium

// Pads Component
.row
  display: flex
  justify-content: space-around
  align-items: center
.center
  height: 100vh
  width: 100%
  display: flex
  justify-content: center
.pads
  display: flex
  flex-wrap: wrap
  width: 500px
  margin-top: 25px
.pad
  height: 150px
  width: 150px
  background: white
  box-shadow: 0 0 30px rgba(black, 0.05)
  margin-right: 15px
  margin-bottom: 15px
  position: relative
  border: none
  border-radius: 10px
  &:hover
    background: white
  &:focus
    outline: none
.green
  background: radial-gradient(circle, #E0F407, #62C700)
.orange
  background: radial-gradient(circle, #FEC601, #FD7502)
.blue
  background: radial-gradient(circle, #03D3F5, #0187E3)
.violet
  background: radial-gradient(circle, #DC69F0, #A121D5)

.playlist
  height: 350px
  width: 250px
  box-shadow: 0 0 30px rgba(black, .05)
  border-radius: 5px
  padding: 25px
  &__title
    margin-bottom: 20px
  &__btn
    margin-top: 15px
    font-size: 20px
    text-decoration: none
    color: rgba(black, 0.5)
    +semiBold
    transition: 0.3s
    &:hover
      color: rgba(black, 1)
      transition: 0.3s